.instagram-logo-link {
    background-image: url('instagram-link-image.png');
    background-position: 0px 0px;
    background-size: 176px 258px;
    background-repeat: no-repeat;
    width: 175px;
    height: 51px;
    display: block;
    margin: 0 auto;
    margin-bottom: 10px ;
}
